.navbackground{
    background-color: #ffffff;
}

.logo{
    /* width: 10000;
    height: 1000; */
    background-color: #CEFFFC;
    margin-top: 70px;
    
  
<<<<<<< HEAD
    margin-left: 70px;
=======
    margin-left: -1300px;
>>>>>>> 33f2b7417344d5a1084d50d06aeea9e7319644f9
}



.navC{

    position: absolute;
    /* width: 1000px; */
    /* height: 45px; */
    left: 400px;
    top: 10px;
    /* background-color: #CEFFFC; */

    /* padding: auto; */
}

.nav-link{
    text-decoration: none;
    font-size: 20px;
    color: #8244d2;
    padding-left: 20px;
    
}
