
/*used for registrationPetOwner.js
            login.js*/

body{
    font-family: "nunito";
}
.background-container{
    background-color: #fafafa;
    border: 1px solid #F7F7F7;
    height:690px;
}
           
.box{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 2px 4px lightgray;
    width: 400px;
    margin: 5% auto;
    padding: 40px;
    height: auto; 
    text-align: center;
    /* opacity: 1; */
}
.login-logo{
    position: relative;
}
.h1{
    position: relative;
    z-index: +1;
}
.form-body{
    text-align: left;
    /* padding: 20px 10px; */
    text-align: center;
}

.loginButton{
    margin-bottom:50px ;
}

.footer{
    text-align: center;
}

.login{
    color:blue;
};
            