
/*used for registrationPetOwner.js
            login.js*/

.regbody{
    background-color: #CEFFFC;  /* fallback for old browsers */
   /* height:auto; */
    /* without this the background will not be applied for the whole page */
    overflow:auto;
}
            
.box{
    background-color: #9BABCF;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    height: auto; 
    text-align: center;
}

.logo{
    /* float: left; */
    /* margin-top: 20px;
    margin-left: auto;
    margin-right: auto; */
    /* justify-content: center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-body{
    text-align: left;
    padding: 20px 10px;
    text-align: center;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}

.login{
    color:blue;
};
            